body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header{
  background-color: #404040;
  padding : 1rem;
}
header a{
  text-decoration : none;
  font-weight : bold;
  color:white;
} */
main{
  padding : 1rem;
}
.products{
  display : flex; 
  flex-wrap : wrap; 
  justify-content : center;
}
.product{
  border : 2px solid #404040;
  margin: 1rem;
  padding : 1rem;
}
.product img{
  width : 100%;
  max-width : 400px;
}
.product-info{
  padding : 1 rem;
   margin-left : 1rem;
}
.site-container{
  min-height : 100vh;
}
main{
  flex : 1;
}
.rating span{
  color : #ffc000;
}
.btn-primary{
  background-color : #f0c040;
  color : black;
  border : none;
}
.img-large{
  width : 100%;
  max-width : 400px;
}
/* // for line 40 isse footer ko hamesha bottom par rakhne me madad milegi chahe content kam ho ya zyada ho kyoki isme min height 100vh hai aur flex column hai to footer hamesha bottom par rahega 100vh ka matlab hai viewport height yani ki screen ki height ke barabar aur flex column ka matlab hai ki elements vertically arrange honge to jab content kam hoga to footer bottom par rahega aur jab content zyada hoga to footer content ke niche rahega.
//site container ke andar header maina and footer sab h to isliye isne sabko select kiya jiski min height hamne 100vh kar kiya hai taki pura screen cover ho jaye aur footer hamesha bottom par rahe chahe content kam ho ya zyada ho. */



.img-thumbnail{
  height : 80px;
}

.checkout-steps  > div{
  border-bottom : 0.2rem solid #a0a0a0;
  color : #a0a0a0;
}
.checkout-steps > div.active{
  border-bottom : 0.2rem solid #f08000;
  color : #f08000;
}

.small-container{
  max-width : 600px;
}